<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date, {:use_month_numbers => true} %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :cash %><br />
    <%= f.number_field :cash %>
    (<%= @yesterday.date %>: <%= number_with_delimiter @yesterday.cash %>)
  </div>
  <div class="field">
    <%= f.label :suica %><br />
    <%= f.number_field :suica %>
    (<%= @yesterday.date %>: <%= number_with_delimiter @yesterday.suica %>)
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
