<h1>Listing pages</h1>

<p><%= link_to 'New Page', new_page_path, :id => "new_page_link" %></p>

<% @pages.each do |page| %>
  <div class="date">
    <div>
      <h3><%= link_to page.date, page %></h3>
      <span class="money">Cash: <%= number_with_delimiter page.cash %></span>
      <span class="money">Suica: <%= number_with_delimiter page.suica %></span>
      <span class="controllers">
        <%= link_to 'Show', page %>
        <%= link_to 'Edit', edit_page_path(page) %>
        <%= link_to 'Destroy', page, confirm: 'Are you sure?', method: :delete %>
      </span>
    </div>
    <% unless page.events_array.nil? or page.events_array.size < 1 %>
      <ul>
        <% page.events_array.each do |event| %>
          <li><%= event %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
