<h2><%= @page.date %></h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Events:</b>
  <ul id="page_events">
    <% if @page.events_array.nil? or @page.events_array.size < 1 %>
      <li>（なし）</li>
    <% else %>
      <% @page.events_array.each do |event| %>
        <li><%= event %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<p>
  <b>Body:</b>
  <div id="page_body">
    <%= simple_format @page.body %>
  </div>
</p>

<p>
  <b>Cash:</b>
  <%= number_with_delimiter @page.cash %>
  <%= @page.get_diff_text(:cash, @yesterday) %>
</p>

<p>
  <b>Suica:</b>
  <%= number_with_delimiter @page.suica %>
  <%= @page.get_diff_text(:suica, @yesterday) %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
