<h2><%= @page.date %></h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <div id="page_body">
    <%=simple_format @page.body %>
  </div>
</p>

<p>
  <b>Cash:</b>
  <%= number_with_delimiter @page.cash %>
  <% if @page.cash && @yesterday && @yesterday.cash %>
    (<%= number_with_delimiter @page.cash - @yesterday.cash %>)
  <% end %>
</p>

<p>
  <b>Suica:</b>
  <%= number_with_delimiter @page.suica %>
  <% if @page.suica && @yesterday && @yesterday.suica != nil %>
    (<%= number_with_delimiter @page.suica - @yesterday.suica %>)
  <% end %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
